header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: rgba(0, 0, 0, 0.3);
}

.logo {
    max-width: 7rem;
}

.nav-list {
    display: flex;
    list-style-type: none;
}

.nav-list li {
    padding: 10px;
    font-size: 1.6rem;
    font-weight: bold;
    cursor: pointer;
}

li:hover {
    color: #ffbb52;
}

@media (max-width:550px) {
    .logo {
        max-width: 5rem;
    }
    .nav-list {
        display: flex;
        justify-self: start;
    }
    .nav-list li {
        font-size: 1.2rem;
        font-weight: bold;
        cursor: pointer;
    }
}