nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    padding: 0 100px;
    background-color: rgba(0, 0, 0, 0.4);
}

ul {
    display: flex;
    padding: 0;
    list-style-type: none;
}

li {
    padding: 10px;
    font-size: 1.6rem;
    font-weight: bold;
    cursor: pointer;
}

li:hover {
    color: #ffbb52;
}