<div class="container">
    <div class="row">
        <div class="info">
            <p>Segun Wikipedia La cerveza es una bebida alcohólica, no destilada, de sabor amargo, que se fabrica con granos de cebada germinados u otros cereales cuyo almidón se fermenta en agua con levadura y se aromatiza a menudo con lúpulo, entre otras
                plantas.
            </p>
            <p>Es la bebida alcohólica más consumida del mundo, y una de las bebidas más consumidas, solo por detrás del agua, el té y el café.</p>
            <p>De ella se conocen varios tipos con una amplia gama de matices, debidos a las diferentes formas de elaboración y a los ingredientes utilizados..</p>
            <h1 [routerLink]="['/beers']">HAZ MATCH CON TU BIRRA IDEAL</h1>
        </div>
    </div>
    <div class="links">
        <button [routerLink]="['/beers/random']">Get a random beer</button>
        <button [routerLink]="['/beers/by-name']">Search for name</button>

    </div>
</div>