<div class="search">
    <h2>Busca tu birra aqui </h2>
    <app-search (onValue)="searchByName($event)" placeholder="Search by name"></app-search>
</div>

<div class="container">
    <div *ngIf="beers.length !==0; else noBeer">
        <div *ngFor="let beer of beers | paginate: { itemsPerPage: 12, currentPage: pag }">
            <div class="cards ">
                <div class="card-img ">
                    <img [src]="beer.image_url " [alt]="beer.name ">
                </div>
                <div class="title ">
                    <h3>{{ beer.name}}</h3>
                    <p>{{ beer.tagline}}</p>
                </div>
                <div class="content ">
                    <p class="card-description ">{{ beer.description}}</p>
                </div>
                <div class="card-footer ">
                    <a [routerLink]="[ '/beers/', beer.id] ">View more..</a>
                </div>

            </div>
        </div>
        <div>
            <pagination-controls class="pags" (pageChange)="pag= $event "></pagination-controls>
        </div>
    </div>

    <ng-template #noBeer>
        <p>No se ha encontrado ninguna cerveza con otro nombre</p>
    </ng-template>
</div>