c ul {
    list-style-type: none;
}

.search {
    display: flex;
    justify-content: center;
    align-items: baseline;
    gap: 1rem;
    padding: 50px;
}

.pags ::ng-deep .ngx-pagination .current {
    background: #0d2a6b;
}