.wrapper {
    display: grid;
    grid-template-columns: 1fr 2fr;
    /* column-gap: 10px;
    row-gap: 1em; */
    grid-gap: 1em;
}

.item {
    padding: 10px;
    background-color: slateblue;
    color: #fff;
}