<div class="container ">
    <div *ngFor="let beer of beers">
        <div class="cards ">


            <div class="card-img ">
                <img [src]="beer.image_url " onerror="this.src='./assets/images/beer.jpg'" [alt]="beer.name ">
            </div>
            <div class="title ">
                <h3>{{ beer.name}}</h3>
                <p>{{ beer.tagline}}</p>
            </div>
            <div class="content ">
                <p class="card-description ">{{ beer.description}}</p>

                <div class="card-footer ">
                    <a [routerLink]="[ '/beers/', beer.id] ">View more..</a>
                </div>
            </div>
        </div>
    </div>
    <div>
        <pagination-controls class="pags " (pageChange)="p= $event "></pagination-controls>
    </div>
</div>