.container {
    margin: 20px;
}

.row {
    width: 100%;
    display: flex;
    justify-content: center;
}

.info {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

h2 {
    cursor: pointer;
}

@media(max-width:800) {
    .info {
        display: block;
        flex-wrap: wrap;
        flex: 100%;
        max-width: 600px;
    }
}