.container {
    margin: 20px;
}

.row {
    width: 100%;
    display: flex;
    justify-content: center;
}

.info {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

h2 {
    cursor: pointer;
}