/* You can add global styles to this file, and also import other style files */

html,
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    /* background: url('./assets/images/bTogether.jpeg'); */
    background-size: cover;
    background-position: center;
    box-sizing: border-box;
    color: #0d2a6b;
    font-family: 'Open Sans', sans-serif;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}