/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
html,
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background: linear-gradient(rgba(107, 107, 107, 0.7), rgba(107, 107, 107, 0.7)), url('./assets/images/beers.jpeg') center center fixed;
    background-size: cover;
    box-sizing: border-box;
    color: #0d2a6b;
    font-family: 'Poppins';
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

a {
    text-decoration: none;
    color: #0d2a6b;
}

.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}


/*CARDS ALL BEERS*/

.cards {
    height: 480px;
    width: 300px;
    margin: 10px;
    background-color: #999;
    border-radius: 15px;
    transition: 0.2s;
}

.card-img img {
    width: 100%;
    max-height: 200px;
    margin-top: 10px;
    object-fit: contain;
}

.card-img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    text-align: center;
}

.card-footer {
    text-align: center;
    height: 20px;
    margin-top: 2rem;
}

.card-footer a {
    text-decoration: none;
    padding-top: 10px;
    color: #0d2a6b;
    font-weight: bold;
}

.cards:hover {
    background: #ffbb52;
    box-shadow: 3.9px 7.8px 7.8px hsl(0deg 0% 0% / 0.38);
}


/*CARDS DETAILS*/

.card-full {
    background-color: #ffbb52;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1.5rem;
    padding: 1.5rem;
    width: 50rem;
    border-radius: 15px;
}

.content {
    text-align: center;
    height: 230px;
}

.metrics {
    text-align: center;
    line-height: 0.3rem;
    margin-bottom: 2rem;
}

.card-description {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    line-clamp: 4;
    overflow: hidden;
}

.data {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    gap: 1rem;
}

.img-detail {
    display: flex;
    justify-content: flex-start;
    padding-right: 2rem;
}

.img-detail img {
    max-width: 6rem;
}


/*BUTTON*/

button {
    display: flex;
    align-self: end;
    background: #0d2a6b;
    color: #ffbb52;
    border-radius: 10px;
    font-size: 1rem;
    font-weight: bold;
    padding: 20px;
    margin: 10px;
}


/*PAGINATION*/

.pags ::ng-deep .ngx-pagination .current {
    background: #0d2a6b;
    margin-top: 8rem;
}

.pagination {
    display: flex;
    justify-content: center;
    align-content: flex-end;
}

@media(max-width:800px) {
    .info {
        flex-direction: column;
        align-items: center;
        flex: 100%;
        max-width: 600px;
        margin: 10px;
    }
    .links {
        display: block;
        flex-wrap: wrap;
        flex: 100%;
        max-width: 600px;
    }
    .random {
        flex-direction: column;
    }
    button {
        flex-direction: column;
        align-self: center;
    }
    .card-full {
        max-width: 600px;
        flex-direction: column;
        align-self: center;
        justify-content: center;
    }
    .search {
        flex-direction: column;
        flex: 100%;
        max-width: 600px;
    }
}

@media (max-width:550px) {
    .logo {
        max-width: 5rem;
    }
    .nav-list {
        display: flex;
        justify-self: start;
    }
    .nav-list li {
        font-size: 1.2rem;
        font-weight: bold;
        cursor: pointer;
    }
    .card-full {
        max-width: 320px;
    }
}